body {
    font-family: 'Outfit', sans-serif;
}

p, h1 + h2, li strong {
  font-weight: 300;
}

ul {
  font-weight: 200;
}

.dropdown-toggle,
.dropdown-menu {
  width: 100%;
}

#top-navbar {
  background: linear-gradient(to bottom, rgba(241, 244, 248, 1) 0%,
                              rgba(241, 244, 248, .75) 50%, 
                              rgba(241, 244, 248, .5) 75%,
                              rgba(241, 244, 248, .25) 90%, 
                              rgba(241, 244, 248, 0) 100%);
}

#page-content a:link {
  color: black;
  text-decoration: none;
}

#page-content a:visited {
  color: black;
  text-decoration: none;
}

#page-content a:hover {
  color: grey;
  text-decoration: none;
}