body {
    font-family: 'Outfit', sans-serif;
}

.dropdown-toggle,
.dropdown-menu {
  width: 100%;
}

#page-content a:link {
  color: black;
  text-decoration: none;
}

#page-content a:visited {
  color: black;
  text-decoration: none;
}

#page-content a:hover {
  color: grey;
  text-decoration: underline;
}