{% extends 'base.html' %}

{% block title %}Wrap{% endblock %}

{% block body %}
    <div id="react-app"></div>
{% endblock %}

{% block js %}
    <script src="/static/js/homepage/navbar.jsx" type="text/jsx"></script>
    <script src="/static/js/homepage/login.jsx" type="text/jsx"></script>
    <script src="/static/js/homepage/home.jsx" type="text/jsx"></script>
    <script src="/static/js/wrap/wrapDescription.jsx" type="text/jsx"></script>
    <script src="/static/js/wrap/wrapForm.jsx" type="text/jsx"></script>
    <script src="/static/js/wrap/topTrack.jsx" type="text/jsx"></script>
    <script src="/static/js/wrap/allTracks.jsx" type="text/jsx"></script>
    <script src="/static/js/wrap/topArtist.jsx" type="text/jsx"></script>
    <script src="/static/js/wrap/allArtists.jsx" type="text/jsx"></script>
    <script src="/static/js/wrap/topGenre.jsx" type="text/jsx"></script>
    <script src="/static/js/wrap/allGenres.jsx" type="text/jsx"><</script>
    <script src="/static/js/wrap/wrapHistory.jsx" type="text/jsx"></script>
    <script src="/static/js/wrap/wrap.jsx" type="text/jsx"></script>
    <script src="/static/js/compare/compare.jsx" type="text/jsx"></script>
    <script src="/static/js/app.jsx" type="text/jsx" ></script>
{% endblock %}