{% extends 'base.html' %}

{% block title %}Wrap{% endblock %}

{% block body %}
    <div id="react-app"></div>
{% endblock %}

{% block js %}
    <script src="/static/js/homepage/error.jsx" type="text/jsx"></script>
    <script src="/static/js/homepage/navbar.jsx" type="text/jsx"></script>
    <script src="/static/js/homepage/footer.jsx" type="text/jsx"></script>
    <script src="/static/js/homepage/login.jsx" type="text/jsx"></script>
    <script src="/static/js/homepage/home.jsx" type="text/jsx"></script>
    <script src="/static/js/wrap/wrapDescription.jsx" type="text/jsx"></script>
    <script src="/static/js/wrap/wrapForm.jsx" type="text/jsx"></script>
    <script src="/static/js/compare/compareDescription.jsx" type="text/jsx"></script>
    <script src="/static/js/compare/compareForm.jsx" type="text/jsx"></script>
    <script src="/static/js/compare/compareText.jsx" type="text/jsx"></script>
    <script src="/static/js/compare/compareHistory.jsx" type="text/jsx"></script>
    <script src="/static/js/compare/compare.jsx" type="text/jsx"></script>
    <script src="/static/js/utils/tracks.jsx" type="text/jsx"></script>
    <script src="/static/js/utils/artists.jsx" type="text/jsx"></script>
    <script src="/static/js/utils/genres.jsx" type="text/jsx"><</script>
    <script src="/static/js/utils/playlist.jsx" type="text/jsx"></script>
    <script src="/static/js/wrap/wrapHistory.jsx" type="text/jsx"></script>
    <script src="/static/js/wrap/wrap.jsx" type="text/jsx"></script>
    <script src="/static/js/compare/compare.jsx" type="text/jsx"></script>
    <script src="/static/js/app.jsx" type="text/jsx" ></script>
{% endblock %}